/* 初始化样式开始 */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#b1b2be;
}
a:hover{
    color:#e4b653;
}
body{
    font-size:12px;
    /* 设置行高的距离为1.5倍 */
    line-height: 1.5;
    min-width: 1280px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
img{
    vertical-align: bottom;
}

/* 版心类 */
.container{
    /* 版心类只设置宽度和左右marign,其他样式不在版心类中设置 */
    width: 1200px;
    margin:0 auto;
}
/* 初始化样式结束 */

.header{
    height: 84px;
    background: rgba(0,0,0,0.8);
    color:#c9c9dd;
    /* 为了能让下面.main背景图出现在.header下面,所以我们让.header绝对定位,脱标不占位置 */
    position: absolute;
    left: 0;
    top: 0;
    /* 绝对定位以后,默认宽度由内容决定,所以需要手动设置宽度为100% */
    width: 100%;
    min-width: 1280px;
}
.header .logo{
    width: 200px;
    height: 54px;
    margin-top: 15px;
}
.header .nav{
    margin-left: 30px;
    height: 84px;
    width: 770px;
}
.header .nav ul li {
    width: 110px;
    height: 84px;
    float: left;
}
.header .nav ul li:hover{
    background:url('../images/index.png') no-repeat;
}
.header .nav ul li a{
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.header .nav ul li a span{
    padding-top: 25px;
    font-size:18px;
    color:#c9c9dd;
    display: block;
}
.header .nav ul li a p{
    font-size:12px;
    color:#646e7e;
}
.header .login{
    width: 180px;
    height: 46px;
    margin-left: 20px;
    margin-top: 16px;
}
.header .login .login_left{
    width: 56px;
    height: 56px;
    background: url('../images/index.png') no-repeat -184px 0;
}
.header .login .login_right{
    margin-top: 9px;
}
.header .login .login_right span{
    color:white;
    font-size:14px;
}
.header .login .login_right p{
    color:#858792;
    font-size:12px;
}

.main{
    background:url('../images/main_bg.jpg') no-repeat center top;
    height: 1072px;
}

.sub_nav{
    position: absolute;
    left: 0;
    top: 84px;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
.header:hover .sub_nav{
    height: 283px;
    transition: all 0.5s;
}
.sub_nav ul{
    margin-left: 342px;
    margin-top: 15px;
}
.sub_nav ul li{
    width: 110px;
    text-align: center;
    line-height: 30px;
    float: left;
}
.sub_nav ul li a{
    display: block;
}

.sub_nav ul li a .icon_new{
    vertical-align: middle;
    background: url('../images/index.png') no-repeat -137px -66px;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.sub_nav ul li a .icon_circle{
    vertical-align: middle;
    background: url('images/index.png') no-repeat -136px -4px;
    width: 27px;
    height: 27px;
    display: inline-block;
}
.sub_nav ul li a .icon_hot{
    vertical-align: middle;
    background: url('../images/index.png') no-repeat -161px -66px;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.sub_nav ul li a .icon_safe{
    vertical-align: middle;
    background: url('../images/index.png') no-repeat -137px -35px;
    width: 25px;
    height: 27px;
    display: inline-block;
}

.box{
    margin: 0 auto;
    width: 1200px;
    height: 342px;
    position: relative;
    top: 530px;
    background: url("../images/rotate_bg.png") no-repeat;
}
.box .banner{
    width: 605px;
    height: 342px;
}
.box .banner .img{
    height: 298px;
    width: 605px;
}
.box .banner .title{
    width: 605px;
    height: 44px;
    text-align: center;
}
.box .banner .title ul li a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.box .banner .title ul li{
    float: left;
    width: 121px;
    height: 44px;
    line-height: 44px;
    /* background-color: #2c2e3a; */
}
.box .banner .title ul li.active{
    background-color: #4b4b58;
}
.box .banner .title ul li:hover{
    background-color: #4b4b58;
}
.box .banner .title ul li:hover a{
    color: #e4b653;
}
.box .banner .title ul li.active a{
    color: #e4b653;
}

.box .notice{
    width: 329px;
    height: 312px;
    /* background-color: #2c2e3a; */
    color: #b8b9c7;
    padding: 15px;
}
.box .notice .nav{
    margin: 0 auto;
    width: 330px;
    height: 35px;
    border-bottom: 1px #000000 solid;
    text-align: center;
}
.box .notice .nav ul li{
    float: left;
    width: 52px;
    height: 32px;
    font-size: 14px;
}
.box .notice .nav ul li a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.box .notice .nav ul li.active{
    border-bottom: 3px #e4b653 solid;
}
.box .notice .nav ul li:hover{
    border-bottom: 3px #e4b653 solid;
}
.box .notice .nav ul li:last-child{
    border-bottom: 3px transparent solid;
}
.box .notice .tips{
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    color: #fcc02f;
    background-color: #403f46;
    clear: both;
    margin: 0 auto;
    margin-top: 18px;
}
.box .notice .list{
    margin: 0 auto;
    width: 328px;
}
.box .notice .list p{
    margin-top: 10px;
    font-size: 14px;
}
.box .notice .list p a.title{
    width: 266px;
    display: inline-block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    vertical-align: middle;
}
.box .notice .list p span.date{
    width: 57px;
    /* margin-left: 30px; */
    vertical-align: middle;
    color: #908f8f;
    font-size: 13px;
    display: inline-block;
    text-align: right;
}

.box .right{
    width: 236px;
    height: 342px;
}
.box .right .download{
    display: block;
    height: 128px;
    width: 235px;
    background: url('../images/index.png') no-repeat 0 -219px;
}
.box .right .download video{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.box .right .huwei{
    display: block;
    width: 236px;
    height: 107px;
    background: url('../images/index.png') no-repeat 0 -350px;
}
.box .right .tiyan{
    display: block;
    width: 236px;
    height: 107px;
    background: url('../images/index.png') no-repeat 0 -461px;
}

.box_img{
    width: 100%;
    height: 135px;
    position: relative;
    margin: 0 auto;
    top: 558px;
    font-size:0;
}
.box_img a{
    width: 290px;
    height: 100%;
    margin-right: 12px;
    display: inline-block;
}
.box_img a:last-child{
    margin-right: 0;
}

.introduce{
    display: block;
    /* height: 1705px; */
    background: url('../images/ny_con_bg.jpg') no-repeat;
    background-size:  auto 2066px;
    padding: 52px 0;
}
.introduce .title{
    font-size: 22px;
    color: #323235;
    vertical-align: middle; 
}
.introduce .title span{
    display: inline-block;
    height: 26px;
    width: 20px;
    vertical-align: middle;
    background: url('../images/icon_hero.png') no-repeat;
    margin-right: 10px;
}
.introduce .nav ul{
    height: 35px;
    margin-top: 20px;
}
.introduce .nav ul li{
    float: left;
    width: 400px;
    text-align: center;
    border-bottom: 3px solid #d4d4d4;
    font-size: 18px;
    padding-bottom: 8px;
}
.introduce .nav ul li a{
    color: #4b4b4b;
}
.introduce .nav ul li.active{
    border-bottom: 3px solid #008be4;
}
.introduce .nav ul li.active a{
    color: #008be4;
}
.introduce .nav ul li:hover{
    border-bottom: 3px solid #008be4;
}
.introduce .nav ul li:hover a{
    color: #008be4;
}
.introduce .box_{
    height: 1560px;
    border: 2px #cccccc solid;
}
.introduce .box_ .search{
    width: 1139px;
    height: 106px;
    background-color: white;
    border-radius: 10px;
    margin: 40px auto;
    margin-top : 70px;
}
.introduce .box_ .search .left_{
    width: 80px;
    height: 106px;
    background-color: #008be4;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 18px;
    color: white;
}
.introduce .box_ .search .left_ p{
    /* height: 53px; */
    text-align: center;
    padding: 13px;
}
.introduce .box_ .search .right_{
    width: 1059px;
    height: 106px;
    float: left;
}
.introduce .box_ .search .right_ p{
    padding: 16px;
    font-size: 14px;
    color: #686869;
}
.introduce .box_ .search .right_ p:nth-child(2) span{
    margin-right: 50px;
}
.introduce .box_ .search .right_ p:nth-child(2) span:last-child{
    margin-right: 0;
}
.introduce .box_ .search .right_ p:first-child span{
    margin-right: 25px;
}
.introduce .box_ .search .right_ p:first-child span:last-child{
    margin-right: 0;
}
.introduce .box_ .search .right_ p:last-child span{
    margin-right: 52px;
}
.introduce .box_ .search .right_ p:last-child span:last-child{
    margin-right: 0;
}
.introduce .box_ .search .right_ input{
    margin-right: 8px;
    vertical-align: middle;
}
.introduce .box_ .search .right_ p:nth-child(2){
    display: inline-block;
}
.introduce .box_ .search .right_ .search_box{
    float: right;
    width: 240px;
    height: 43px;
    border: 1px solid #d2d2d2;
    margin-right: 32px;
    margin-bottom: 12px;
}
.introduce .box_ .search .right_ .search_box input:nth-child(1){
    border: none;
    width: 187px;
    margin: 10px;
    border-right: 1px solid #d2d2d2;
    margin-top: 13px;
}
.introduce .box .search .right_ .search_box input:nth-child(2){
    width: 42px;
}

.introduce .box_ .detail{
    width: 100%;
    height: 1235px;
}
.introduce .box_ .detail ul{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.introduce .box_ .detail ul li{
    float: left;
    margin: 20px 13px;
}
.introduce .box_ .detail ul li a{
    text-align: center;
    display: inline-block;
    color: #323235;
}
.introduce .box_ .detail ul li a img{
    width: 83px;
    height: 83px;
    border: 4px #008ffa solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
}

.footer{
    height: 362px;
    margin: 0 auto;
    background: url('../images/bg_footer.jpg') no-repeat center;
}
.footer .logo{
    display: inline-block;
    margin-top: 85px;
    background: url('../images/spr.png') no-repeat -1px -12px;
    width: 360px;
    height: 46px;
}
.footer .line{
    margin-top: 17px;
    border-top: 3px solid #d4d4d4;
    width: 100%;
}
.footer .content{
    margin-top: 22px;
    font-size: 12px;
    color: #6d6d6d;
    text-align: justify;
}
.footer .content .left{
    width: 502px;
    float: left;
}
.footer .content .left p:first-child{
    color: #333333;
    font-weight: bold;
    font-size: 14px;
}
.footer .content .left p:last-child{
    margin-top: 18px;
}
.footer .content .right{
    width: 652px;
    float: right;
}
.footer .content .right ul{
    display: block;
    overflow:hidden;
    margin-bottom: 15px;
    margin-top: 20px;
}
.footer .content .right ul li{
    float: left;
}
.footer .content .right ul li a{
    color: #646467;
}
.footer .content .right ul li::after{
    content: "|";
    color: #9c4471;
    margin: 0 3px;
}
.footer .content .right ul li:last-child::after{
    content: "";
}
.footer .content .right p:first-child{
    float: left;
}
.footer .content .right p:nth-child(2){
    float: right;
}
.footer .content .right .beian{
    background: url('../images/icplogo.png') no-repeat;
    width: 13px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}